@use 'bulma' with (
  $orange: hsl(23, 94%, 49%),
  $yellow: hsl(45, 100%, 65%),
  $green: hsl(148, 42%, 59%),
  $red: hsl(358, 71%, 48%),
  $blue: hsl(205, 100%, 31%),
  $cyan: hsl(196, 100%, 47%),
  $turquoise: $green,
  $purple: hsl(253, 31%, 60%),
  $link: $blue,
  $primary: $cyan,
  $link-hover: $cyan,
  $family-sans-serif: (
    'Roboto',
    sans-serif,
  ),

  $navbar-breakpoint: 1216px
);
