$white: hsl(0, 0%, 100%);
$custom-orange: hsl(23, 94%, 49%);
$custom-yellow: hsl(45, 100%, 65%);
$custom-green: hsl(148, 42%, 59%);
$custom-red: hsl(358, 71%, 48%);
$custom-blue: hsl(205, 100%, 31%);
$custom-cyan: hsl(196, 100%, 47%);
$custom-purple: hsl(253, 31%, 60%);
$family-header: 'Oswald', sans-serif;