@mixin hover-underline-animation($color, $background, $height) {
  display: inline-block;
  position: relative;

  &::after {
    background: $background;
    bottom: 0;
    content: '';
    height: $height;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
    width: 100%;
  }

  &:hover {
    color: $color;

    &::after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  }
}
