//noinspection CssUnknownTarget
@use './variables';
@use '../../../node_modules/bulma/bulma.sass';
@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap';

body {
  background: variables.$white;
  min-height: 100vh;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: sub;
  width: 1.25rem;
  height: 1.25rem;
}

.label {
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.navbar-link:not(.is-arrowless)::after {
  margin-top: -.5em
}

.title,
.subtitle {
  font-family: variables.$family-header;
  font-weight: 500;
}

strong {
  font-weight: 600;
}