<footer class="footer">
  <section class="section has-background-link">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="title is-size-4">TÁJÉKOZTATÓK</h3>
          <nav class="manuals-nav">
            <ul>
              <li><a href="index">Felhasználási feltételek</a></li>
              <li><a href="index">Adatkezelési nyilatkozat</a></li>
              <li><a href="index">Gyakori kérdések</a></li>
              <li><a href="index">Cookie tájékoztató</a></li>
              <li><a href="index">Támogatás</a></li>
            </ul>
          </nav>
        </div>
        <div class="column">
          <h3 class="title is-size-4">KAPCSOLAT</h3>
          <nav class="contact-nav">
            <ul>
              <li>
                <a href="mailto:gall.gergely@vetpress.hu">
                  <span class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                  <span>Email cím: gall.gergely@vetpress.hu</span>
                </a>
              </li>
              <li>
                <a href="tel:+702902291">
                  <span class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></span>
                  <span>Telefonszám: +36 70 290 2291</span>
                </a>
              </li>
              <li>
                <a href="https://www.google.com/maps/place/Budapest,+Lajos+u.+35,+1023/data=!4m2!3m1!1s0x4741d955d876e2ab:0x909097a75777b770?sa=X&ved=2ahUKEwiz65_FsZn7AhVciv0HHYU_ACgQ8gF6BAgNEAE">
                  <span class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
                  <span>Cím: 1023 Budapest, Lajos utca 35.</span>
                </a>
              </li>
            </ul>
          </nav>
          <p class="company-info">
            <strong>Pryann Technologies Kft.</strong><br>
            <strong>Adószám:</strong> 27422142-2-41<br>
            <strong>Cégjegyzékszám:</strong> 01 09 389501
          </p>
        </div>
        <div class="column">
          <h3 class="title is-size-4">KÖVESS MINKET!</h3>
          <nav class="follow-us-nav">
            <div>
              <a href="#"><span class="icon is-large"><i class="fab fa-facebook-square fa-3x" aria-label="Facebook oldalunk"></i></span></a>
              <a href="#"><span class="icon is-large"><i class="fab fa-linkedin fa-3x" aria-label="Linkedin oldalunk"></i></span></a>
              <a href="#"><span class="icon is-large"><i class="fab fa-vimeo fa-3x" aria-label="Vimeo oldalunk"></i></span></a>
            </div>
            <a class="button is-medium is-white is-outlined mt-5" href="index">Iratkozz fel hírlevelünkre!</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="has-text-black has-text-centered py-3">
        Minden jog fenntartva. Copyright © VetPRESS, Vet WEBINAR Hungary,
        Pryann Technologies Kft.
      </p>
    </div>
  </section>
</footer>