{% extends "../layout/master.njk" %}

{% set title = "Pryann" %}
{% set description = "Frontend starter kit by Pryann" %}
{% set keywords = "front-end, starter kit, Pryann" %}

{% block headerlinks %}
   
{% endblock %}

{% block headerscripts %}
   <script type="module" src="/src/index.js"></script>
{% endblock %}

{% block main %}
    {# CONTENT #}
{% endblock %}

{% block footerscripts %}
    {# FOOTER SCRIPTS (You can add JS files or inline JS here) #}
{% endblock %}