div(class="container" x-data="usersTable()" x-init="init()")
  h1.title Felhasználók listája
  form
    table#users-table.table.is-striped.is-hoverable.is-fullwidth
      thead
        tr
          th(@click="sort('id')") ID
          th(@click="sort('name')") Név
          th(@click="sort('email')") Email
      tbody
        template(x-if="users.length === 0")
          tr
            td(colspan="3") Nincs megjeleníthető adat
        template(x-for="user in users" :key="user.id")
          tr
            td(x-text="user.id")
            td(x-text="user.name")
            td(x-text="user.email")
    .pagination
      button.button(@click.prevent="prevPage()" :disabled="skip === 0") Előző
      span 
        | Oldal
        span(x-text="currentPage()")
        |  / 
        span(x-text="totalPages()")
      button.button(@click.prevent="nextPage()" :disabled="skip + take >= total") Következő