//- filepath: /c:/Projects/HOBBY/apline-components/src/partial/favicon.pug
// iOS PWA támogatás
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="apple-mobile-web-app-title" content="Frontend Starter kit by Pryann")
// Apple Touch Icon
//- link(rel="apple-touch-icon" sizes="180x180" href="assets/favico/apple-touch-icon-180x180.png")
// Favikonok
link(rel="icon" type="image/png" href="favico/favicon-32x32.png" sizes="32x32")
link(rel="icon" type="image/png" href="favico/favicon-16x16.png" sizes="16x16")
link(rel="shortcut icon" href="favico/favicon.ico")
// Android PWA támogatás
meta(name="mobile-web-app-capable" content="yes")
meta(name="application-name" content="Frontend Starter kit by Pryann")
link(rel="icon" type="image/png" href="favico/android-chrome-192x192.png" sizes="192x192")
link(rel="manifest" href="favico/site.webmanifest")
// Szín beállítás mobil UI-hoz
meta(name="theme-color" content="#ffffff")