<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>

    <!-- Basic meta tags and title -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- Basic meta tags -->
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="robots" content="index,follow">

    <!-- Include VALIDATIONS module -->
    {% include "../modules/validator.html" %}

    <!-- Include COPYRIGHTS module -->
    {% include "../modules/copyright.html" %}

    <!-- Include SITEMAP module -->
    {% include "../modules/sitemap.html" %}

    <!-- Include FAVICONS module -->
    {% include "../modules/favicon.html" %}


    <!-- Include OPEN-GRAPH module -->
    {% include "../modules/open-graph.html" %}

    <!-- Include TWITTER-CARD module -->
    {% include "../modules/twitter-card.html" %}

    <!-- Basic css files -->
    <link rel="stylesheet" type="text/css" href="css/base.css">

    <!-- Your custom css files -->
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries, just for Bootstrap 3 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https:/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Your header links, scripts, etc. -->
    {% block headerscripts %}

    {% endblock %}
</head>
<body>

<!-- Include GOOGLE-TAG-MANAGER module -->
{% include "../modules/google-tag-manager.html" %}

<!-- Include NAV -->
{% include "../partials/nav.html" %}

<!-- Include HEADER -->
{% include "../partials/header.html" %}
<!-- End site header -->

<!-- Start site content -->
{% block content %}

{% endblock %}
<!-- End site content -->

<!-- Include FOOTER -->
{% include "../partials/footer.html" %}

<!-- Start footer scripts -->
{% block footerscripts %}

{% endblock %}
<!-- End footer scripts -->

<!-- Include GOOGLE-ANALYTICS module -->
{% include "../modules/google-analytics.html" %}

</body>
</html>