footer.footer
  section.section.has-background-link
    .container
      .columns
        .column
          h3.title.is-size-4 TÁJÉKOZTATÓK
          nav.manuals-nav
            ul
              li: a(href="index") Felhasználási feltételek
              li: a(href="index") Adatkezelési nyilatkozat
              li: a(href="index") Gyakori kérdések
              li: a(href="index") Cookie tájékoztató
              li: a(href="index") Támogatás
        .column
          h3.title.is-size-4 KAPCSOLAT
          nav.contact-nav
            ul
              li
                a(href="mailto:gall.gergely@vetpress.hu")
                  span.icon
                    i.fas.fa-envelope(aria-hidden="true")
                  span Email cím: gall.gergely@vetpress.hu
              li
                a(href="tel:+702902291")
                  span.icon
                    i.fas.fa-mobile-alt(aria-hidden="true")
                  span Telefonszám: +36 70 290 2291
              li
                a(href="https://www.google.com/maps/place/Budapest,+Lajos+u.+35,+1023/data=!4m2!3m1!1s0x4741d955d876e2ab:0x909097a75777b770?sa=X&ved=2ahUKEwiz65_FsZn7AhVciv0HHYU_ACgQ8gF6BAgNEAE")
                  span.icon
                    i.fas.fa-map-marker-alt(aria-hidden="true")
                  span Cím: 1023 Budapest, Lajos utca 35.
          p.company-info
            strong Pryann Technologies Kft.
            br
            strong Adószám:
            |  27422142-2-41
            br
            strong Cégjegyzékszám:
            |  01 09 389501
        .column
          h3.title.is-size-4 KÖVESS MINKET!
          nav.follow-us-nav
            div
              a(href="#")
                span.icon.is-large
                  i.fab.fa-facebook-square.fa-3x(aria-label="Facebook oldalunk")
              a(href="#")
                span.icon.is-large
                  span.fab.fa-linkedin.fa-3x(aria-label="Linkedin oldalunk")
              a(href="#")
                span.icon.is-large
                  span.fab.fa-vimeo.fa-3x(aria-label="Vimeo oldalunk")
            a.button.is-medium.is-white.is-outlined.mt-5(href="index") Iratkozz fel hírlevelünkre!
  section
    .container
      p.has-text-black.has-text-centered.py-3
        | Minden jog fenntartva. Copyright © VetPRESS, Vet WEBINAR Hungary,
        br
        | Pryann Technologies Kft.