<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" type="text/plain" href="humans.txt">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{ page.description }}">
    {% include "../template/validator.html" %}
    {% include "../template/sitemap.html" %}
    {% include "../template/favicon.html" %}
    <link href="/css/main.css" rel="stylesheet">
    <title>{{ page.title }}</title>
    <script type="module">
        import Alpine from 'alpinejs';
        window.Alpine = Alpine;
        Alpine.start();
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    {% include "../template/google-tag-manager.html" %}
    {% block content %}{% endblock %}
    <img src="../../public/img/webinar.jpg" alt="sdsd">
</body>
</html>