//- filepath: /c:/Projects/HOBBY/apline-components/src/layout/default.pug
doctype html
html(lang="en" itemscope itemtype="http://schema.org/WebPage")
  block variables
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="author" type="text/plain" href="humans.txt")
    meta(name="robots" content=page.robots)
    meta(name="description" content=page.description)
    include ../partial/validator.pug
    include ../partial/sitemap.pug
    include ../partial/favicon.pug
    title= page.title
    script(type="module").
      import Alpine from 'alpinejs';
      window.Alpine = Alpine;
      Alpine.start();
    block head
  body
    include ../partial/google-tag-manager.pug
    block content